body {
    background-color: lightgray;
}
  
h1 {
    font-family: sans-serif;
    font-size: 2.5em;
    }
  
h2 {
    font-family: sans-serif;
    font-size: 1.875em;
}

h3 {
    font-family: sans-serif;
    font-size: 1.5em;
}
  
p {
    font-family: sans-serif;
    font-size: 1.5em;
    text-align: justify;
}

.p-1{
    font-family: sans-serif;
    font-size: 1.4375em;
}

.p-1-c {
    font-family: sans-serif;
    font-size: 1.4375em;
    color: blue;
}

 
li {
    font-family: sans-serif;
    font-size: 1.4em;
}

.container_1 {
    position: relative;
    text-align: center;
    color: white;
  }
  
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
  }

.container_2 {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    height: auto;
    padding: 10px;
}

.left-panel {
    flex-basis: 20%;
    background-color: lightgray;
    height: auto;
    padding: 10px;
}

.right-panel {
    flex-basis: 80%;
    background-color: white;
    height: auto;
    padding: 10px;
}

img {
    width: 100%;
    height: auto;
 }

 .container_2 {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    height: auto;
    padding: 10px;
}